$black: #000000;
$white: #ffffff;
$nearestWhite: #fcfcfc;
$nearWhite: #f3f3f3;
$nearBlack: #000;

$greyBlue: #1d2533;
$blackBlue: #000;

$lightGreyBlue: rgba(223, 226, 246, 0.3);

// BLUE
$lightestBlue: #74a2ff;
$lightBlue: #256eff;
$blue: #002ef3;
$darkBlue: #2342c8;
$darkestBlue: #1846a3;

// GREEN
$lightestGreen: #60e2a9;
$lightGreen: #3ddc97;
$green: #32b57c;
$darkGreen: #2ea571;
$darkestGreen: #278c61;

// RED
$lightestRed: #ff6a79;
$lightRed: #ff495c;
$red: #d13c4c;
$darkRed: #be3746;
$darkestRed: #a32f3b;

// YELLOW
$lightestYellow: #ffdc61;
$lightYellow: #ffd53f;
$yellow: #d1af34;
$darkYellow: #bea030;
$darkestYellow: #a38829;

// PURPLE
$lightestPurple: #674b92;
$lightPurple: #46237a;
$purple: #3a1d64;
$darkPurple: #331a59;
$darkestPurple: #2d174e;

// GREY
$lightestGrey: #f4f4f4;
$lightGrey: #c8c8c8;
$grey: #b3b3b3;
$darkGrey: #47454e;
$darkestGrey: #35333a;
